* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gen {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header {
  display: flex;
  height: 100px;
  width: 1440px;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  padding-left: 118px;
  padding-right: 118px;
}
.mid {
  display: flex;
  gap: 24px;
  color: white;
  height: 22px;
  width: 392px;
}
.lan {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 24px;
  background-color: #ffffff;
  color: black;
  padding: 12px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 100%;
}
.bg-img {
  background-image: url(./images/bg1.png);
  width: 1440px;
  height: 773px;
  background-size: cover;
}
.text-container {
  display: flex;
  align-items: center;
  vertical-align: bottom;
  flex-direction: column;
  width: 618px;
  height: 394px;
  position: relative;
  top: 169px;
  left: 411px;
}
.first {
  display: flex;
  justify-content: center;
  color: #e8edf2b8;
  width: 618px;
  height: 80px;
  font-size: 80px;
  line-height: 100%;
  font-family: "Bebas Neue";
}
.second {
  color: #fdfdfefa;
  border: 2px;
  line-height: 100%;
  font-weight: 400;
  font-style: Regular;
  font-size: 190px;
  line-height: 100%;
  letter-spacing: 0%;
}
.third {
  display: flex;
  justify-content: center;
  width: 144px;
  height: 64px;
  font-weight: 900;
  color: #ffffffcc;
  font-size: 64px;
  line-height: 100%;
  font-family: "Hanuman";
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

.hanuman {
  font-family: "Hanuman", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.locc {
  display: flex;
  width: 1440px;
  height: 500px;
  justify-content: space-between;
  padding-top: 65px;
  padding-right: 120px;
  padding-bottom: 65px;
  padding-left: 120px;
  opacity: 1;
  text-align: center;
  align-items: center;
  background-image: url(./images/bgcolor.png);
  text-shadow: 4px 5px 7px black;
}

.general {
  width: 275px;
  height: 370px;
  border-radius: 40px;
  color: white;
  box-shadow: -8px -8px #1f72aa75, 8px 8px #29728b40;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loc-bg1 {
  background-image: url(./images/img1.png);
}
.loc-bg2 {
  background-image: url(./images/img2.png);
}
.loc-bg3 {
  background-image: url(./images/img3.png);
}
.loc-bg4 {
  background-image: url(./images/img4.png);
}
.overlay {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.overlay:hover {
  background-color: #29292966;
}
.map {
  display: flex;
  background-image: url(./images/map.png);
  height: 1022px;
  width: 1440px;
  flex-direction: column;
  background-size: cover;
}
.headmap {
  display: flex;
  width: 1440px;
  height: 204px;
  padding-top: 120px;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
.size1 {
  font-size: 44px;
  font-weight: 570;
}
.size2 {
  font-size: 24px;
  opacity: 0.6;
  font-weight: 500;
  font-style: medium;
}
.midmap {
  display: flex;
  top: 60px;
  left: 120px;
  justify-content: space-between;
  width: 1200px;
  height: 640px;
  position: relative;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 513px;
  height: 640px;
  color: black;
}
.one {
  display: flex;
  justify-content: space-between;
  width: 513px;
  height: 112px;
  border-radius: 120px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.mid-bg1 {
  background-color: #eee9d9;
}
.mid-bg2 {
  background-color: #8bb8c1cc;
  opacity: 80%;
}
.mid-bg3 {
  background-color: #aad8d7cc;
  opacity: 80%;
}
.mid-bg4 {
  background-color: #8bc0bdcc;
  opacity: 80%;
}
.mid-bg5 {
  background-color: #97cce0cc;
  opacity: 80%;
}
.ti {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: black;
  height: 48px;
}
.text {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  height: 48px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-style: medium;
}
.icon {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  height: 15px;
  width: 94px;
  gap: 12px;
  font-family: "Montserrat", sans-serif;
}
.day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Overpass", sans-serif;
  width: 52px;
  height: 48px;
  background-color: #f7f6f3;
  border-radius: 100%;
  font-weight: 300;
}
.right {
  width: 647px;
  height: 640px;
}
.zurag1 {
  display: none;
  position: absolute;
  top: 75px;
  left: 922px;
  height: 245px;
  width: 245px;
}

.zurag2 {
  display: none;
  position: absolute;
  top: -39px;
  left: 726px;
  height: 245px;
  width: 245px;
}

.zurag3 {
  display: none;
  position: absolute;
  top: 79px;
  left: 591px;
  height: 245px;
  width: 245px;
}
.zurag4 {
  display: none;
  position: absolute;
  top: -90px;
  left: 555px;
  height: 245px;
  width: 245px;
}
.zurag5 {
  display: none;
  position: absolute;
  top: 304px;
  left: 713px;
  height: 245px;
  width: 245px;
}
.huree {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.huree:hover {
  border: white solid 4px;
}
.huree:hover + .zurag1 {
  display: block;
}
.huree:hover + .zurag2 {
  display: block;
}
.huree:hover + .zurag3 {
  display: block;
}
.huree:hover + .zurag4 {
  display: block;
}
.huree:hover + .zurag5 {
  display: block;
}
.pin {
  position: relative;
  width: 34px;
  height: 34px;
}
.pin1 {
  top: 42px;
  left: 279px;
}
.pin2 {
  top: 154px;
  left: 70px;
}
.pin3 {
  top: 181px;
  left: 415px;
}
.pin4 {
  top: 416px;
  left: 167px;
}
.price {
  background-image: url(./images/last.png);
  height: 1120px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  background-size: cover;
}
.last-header {
  display: flex;
  width: 1440px;
  height: 85px;
  top: 40px;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
.last-mid {
  width: 1200px;
  height: 527px;
  display: flex;
  gap: 24px;
  position: relative;
  top: 240px;
  left: 120px;
}
.option1 {
  width: 384px;
  height: 527px;
  border-radius: 40px;
  color: black;
  background-color: #fafbfc;
}
.up {
  width: 384px;
  height: 92px;
  display: flex;
  padding: 24px;
  gap: 16px;
  align-items: center;
}
.size3 {
  font-size: 18px;
  line-height: 100%;
  height: 22px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-style: medium;
}
.section1 {
  display: flex;
  flex-direction: column;
  width: 336px;
  height: 78px;
  gap: 10px;
}
.size4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  vertical-align: bottom;
}
.size5 {
  font-family: "Inter", "sans serif";
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  vertical-align: bottom;
  color: #919191;
}
.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
