* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gen {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  background-color: black;
}
.header {
  display: flex;
  height: 100px;
  width: 1204px;
  position: relative;
  right: 118px;
  left: 118px;
  justify-content: space-between;
  align-items: center;
}
.mid {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  display: flex;
  gap: 24px;
  color: #ffffff;
  height: 22px;
  width: 392px;
  font-style: bold;
}
.home {
  width: 100px;
  height: 22px;
  gap: 10px;
  display: flex;
  justify-content: center;
}
.lan {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 24px;
  background-color: #ffffff;
  color: black;
  padding: 12px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
.bg-img {
  background-image: url(./images/bg1.png);
  width: 1440px;
  height: 773px;
  background-size: cover;
}
.text-container {
  display: flex;
  align-items: center;
  vertical-align: bottom;
  flex-direction: column;
  width: 618px;
  height: 394px;
  position: relative;
  top: 70px;
  left: 411px;
}
.first {
  display: flex;
  justify-content: center;
  color: #e8edf2b8;
  width: 618px;
  height: 80px;
  font-size: 80px;
  line-height: 100%;
  font-family: "Bebas Neue";
}
.second {
  color: #fdfdfefa;

  font-size: 250px;
  line-height: 100%;
}
.third {
  display: flex;
  justify-content: center;
  width: 144px;
  height: 64px;
  font-weight: 900;
  color: #ffffffcc;
  font-size: 64px;
  line-height: 100%;
  font-family: "Hanuman";
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
}

.hanuman {
  font-family: "Hanuman", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.locc {
  display: flex;
  width: 1440px;
  height: 500px;
  justify-content: space-between;
  padding-top: 65px;
  padding-right: 120px;
  padding-bottom: 65px;
  padding-left: 120px;
  opacity: 1;
  text-align: center;
  align-items: center;
  background-image: url(./images/bgcolor.png);
  text-shadow: 3px 5px 3px #000000a6;
  gap: 40px;
}

.general {
  width: 276px;
  height: 370px;
  border-radius: 40px;
  color: white;
  box-shadow: -8px -8px #1f72aa75, 8px 8px #29728b40;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loc-bg1 {
  background-image: url(./images/img1.png);
}
.loc-bg2 {
  background-image: url(./images/img2.png);
}
.loc-bg3 {
  background-image: url(./images/img3.png);
}
.loc-bg4 {
  background-image: url(./images/img4.png);
}
.overlay {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 37px;
  opacity: 0.77;
}
.overlay:hover {
  background-color: #00000066;
  transition: 0.5s;
}
.map {
  display: flex;
  background-image: url(./images/map.png);
  height: 1022px;
  width: 1440px;
  flex-direction: column;
  background-size: cover;
}
.headmap {
  display: flex;
  width: 1440px;
  height: 204px;
  padding-top: 120px;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
.size1 {
  font-size: 42px;
  font-weight: 600;
}
.size2 {
  font-size: 20px;
  opacity: 0.6;
  font-weight: 400;
  font-style: medium;
}
.midmap {
  display: flex;
  top: 60px;
  left: 120px;
  justify-content: space-between;
  width: 1200px;
  height: 640px;
  position: relative;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 513px;
  height: 640px;
  color: black;
}
.one {
  display: flex;
  justify-content: space-between;
  width: 513px;
  height: 112px;
  border-radius: 120px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.mid-bg1 {
  background-color: #eee9d9;
  border: #eee9d9 solid 4px;
}
.mid-bg2 {
  background-color: #8bb8c1cc;
  opacity: 80%;
  border: transparent solid 4px;
}
.mid-bg3 {
  background-color: #aad8d7cc;
  opacity: 80%;
  border: transparent solid 4px;
}
.mid-bg4 {
  background-color: #8bc0bdcc;
  opacity: 80%;
  border: transparent solid 4px;
}
.mid-bg5 {
  background-color: #97cce0cc;
  opacity: 80%;
  border: transparent solid 4px;
}
.ti {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: black;
  height: 48px;
}
.text {
  font-size: 24px;
  line-height: 100%;
  height: 48px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-style: medium;
}
.icon {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  height: 15px;
  width: 94px;
  gap: 12px;
  font-family: "Montserrat", sans-serif;
}
.day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Overpass", sans-serif;
  width: 52px;
  height: 48px;
  background-color: #f7f6f3;
  border-radius: 100%;
  font-weight: 300;
}
.right {
  width: 647px;
  height: 640px;
}
.zurag1 {
  display: none;
  position: absolute;
  top: 75px;
  left: 922px;
  height: 245px;
  width: 245px;
}

.zurag2 {
  display: none;
  position: absolute;
  top: -39px;
  left: 726px;
  height: 245px;
  width: 245px;
}

.zurag3 {
  display: none;
  position: absolute;
  top: 79px;
  left: 591px;
  height: 245px;
  width: 245px;
}
.zurag4 {
  display: none;
  position: absolute;
  top: -90px;
  left: 555px;
  height: 245px;
  width: 245px;
}
.zurag5 {
  display: none;
  position: absolute;
  top: 304px;
  left: 713px;
  height: 245px;
  width: 245px;
}
.huree {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.huree:hover {
  border: white solid 4px;
}
.huree:hover + .zurag1 {
  display: block;
}
.huree:hover + .zurag2 {
  display: block;
}
.huree:hover + .zurag3 {
  display: block;
}
.huree:hover + .zurag4 {
  display: block;
}
.huree:hover + .zurag5 {
  display: block;
}
.pin {
  position: relative;
  width: 34px;
  height: 34px;
}
.pin1 {
  top: 42px;
  left: 279px;
}
.pin2 {
  top: 154px;
  left: 70px;
}
.pin3 {
  top: 181px;
  left: 415px;
}
.pin4 {
  top: 416px;
  left: 167px;
}
.price {
  background-image: url(./images/last.png);
  height: 1120px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  gap: 10px;
}
.last-header {
  display: flex;
  width: 1440px;
  height: 85px;
  position: relative;
  top: 40px;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.last-mid {
  width: 1200px;
  height: 527px;
  display: flex;
  gap: 24px;
  position: relative;
  top: 114px;
  left: 120px;
}
.option1 {
  width: 384px;
  height: 527px;
  border-radius: 40px;
  color: black;
  background-color: #fafbfc;
  right: 24px;
}
.up {
  width: 384px;
  height: 92px;
  display: flex;
  padding: 24px;
  gap: 16px;
  align-items: center;
}

.size3 {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 100%;
  height: 22px;
  font-weight: 500;
  font-style: Medium;
  color: #121316;
}
.section1 {
  display: flex;
  flex-direction: column;
  width: 336px;
  height: 78px;
  gap: 15px;
}
.size4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  vertical-align: bottom;
  color: #303030;
  letter-spacing: 0%;
  font-style: bold;
}
.size5 {
  display: flex;
  width: 336px;
  height: 19px;
  font-weight: 400;
  line-height: 100%;
  vertical-align: bottom;
  color: #919191;
  font-size: 16px;
  text-align: center;
}
.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 336px;
  height: 290px;
  gap: 32px;
  font-family: "Inter", sans-serif;
}

.down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 384px;
  height: 435px;
  width: 384;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 48px;
  padding-left: 24px;
  position: relative;
}
.section2 {
  width: 336px;
  height: 180px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.check1 {
  gap: 20px;
  display: flex;
  font-size: 14px;
  line-height: 100%;

  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-style: medium;
  color: #3f4145;
}
.size6 {
  font-size: 18px;
  line-height: 100%;
  height: 22px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  padding-left: 40px;
  padding-right: 40px;
}
.size7 {
  font-size: 14px;
  line-height: 100%;
  height: 22px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-style: medium;
}
.button {
  background-color: #a4d1e2;
  font-family: "Inter", sans-serif;
  width: 336px;
  height: 48px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
}
.option1:hover {
  box-shadow: -8px -8px rgb(132, 149, 160), 8px 8px #29728b40;
  transition: 0.5s;
}

.option1:hover .button {
  background-color: #18181be5;
  color: white;
  transition: 0.5s;
}
.diff {
  display: flex;
  justify-content: space-between;
  width: 336px;
  height: 27px;
  gap: 10px;
  align-items: center;
}
.popular {
  width: 91px;
  height: 27px;
  gap: 10px;
  border-radius: 14px;
  padding-top: 4px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-left: 16px;
  background-color: #6972b5;
  color: white;
}
.bottom {
  display: flex;
  width: 1440px;
  height: 204px;
  gap: 10px;
  top: 284px;
  padding-top: 80px;
  padding-right: 120px;
  padding-bottom: 80px;
  padding-left: 120px;
  position: relative;
}
.inside {
  display: flex;
  width: 1200px;
  height: 44px;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
}
.social {
  display: flex;
  justify-content: space-between;
  width: 358px;
  height: 44px;
  gap: 20px;
}
.hayg {
  display: flex;
  text-align: center;
  align-items: center;
  width: 167px;
  height: 44px;
  min-height: 44px;
  gap: 7px;
  border-radius: 40px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #fafbfc;
  font-family: "Montserrat", sans-serif;
  font-style: bold;
}
.tsize {
  width: 93px;
  height: 22px;
  font-weight: 600;
  color: #6972b5;
  font-size: 18px;
  font-style: bold;
  gap: 10px;
}
.pn {
  width: 101px;
  height: 35px;
}
.box1 {
  width: 336px;
  height: 20px;
  display: flex;
  align-items: center;
}
.box2 {
  display: flex;
  align-items: center;
  width: 336px;
  height: 34px;
}
.blur {
  width: 1440px;
  height: 575px;
  left: 1px;
  filter: blur(1px);
}
.zurh {
  width: 36px;
  height: 36px;
  color: black;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/zurh.png);
  background-size: cover;
}
.zurh:hover {
  background-image: url(./images/ss.jpeg);
  border-radius: 40px;
  display: block;
  height: 36px;
  width: 36px;
}
